.section__inicio-container {
  display: grid;
  grid-template-columns: 48.75% 48.75%;
  grid-template-rows: 48.75% 48.75%;
  gap: 2.5%;
  height: 100%;
}

.section__inicio-item {
  display: flex;
  flex-direction: column;
}

.section__inicio-item-title {
  font-size: 20px;
}

.section__inicio-item-inner {
  background-color: #f7f7f7;
  height: auto;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.section__inicio-item-inner img {
  width: 100%;
  height: 100%;
}
